<ul class="cocktail-list">
    <% if (drinks.length > 0) { %>
        <% drinks.forEach(drink=> { %>
            <li>
                <a href="/cocktail/<%= drink.strDrink %>" class="cocktail-link">
                    <h2>
                        <%= drink.strDrink %>
                    </h2>
                    <img loading="lazy" src="<%= drink.strDrinkThumb %>" alt="<%= drink.strDrink %>">
                </a>
            </li>
        <%}) %>
    <% } else { %>
        <p class="noResults">No results based on your filters</p>
    <% } %>
</ul>