<ul class="cocktail-list">
    <% drinks.forEach(drink=> { %>
        <li>
            <a href="/cocktail/<%= drink.strDrink %>" class="cocktail-link">
                <h2>
                    <%= drink.strDrink %>
                </h2>
                <img loading="lazy" src="<%= drink.strDrinkThumb %>" alt="<%= drink.strDrink %>">
            </a>
        </li>
    <%}) %>
</ul>