<form id="sortering">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M4 6h16M4 12h10M4 18h4"/></svg> -->
    <select name="sort" id="sort">
        <option value="">Sort by</option>
        <option value="sorta-z">Name (A-Z)</option>
        <option value="sortz-a">Name (Z-A)</option>
    </select>
</form>