<form id="sortering" action="/home" method="get">
    <select  name="sort" id="sort">
        <option disabled selected value="">Sort by</option>
        <option value="sorta-z">A - Z</option>
        <option value="sortz-a">Z - A</option>
    </select>
</form>
