<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
     <%- include("partials/header.ejs") -%>

    <main>
        
    </main>
    <footer>
        <%- include ('partials/nav.ejs') %>
    </footer>
</body>
</html>
