<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <main>
        <h1>A sign up form</h1>
        <%- include('partials/messages') %>
        <div class="container">
            <h2>Sign in</h2>
            <!-- Het formulier voor het inloggen -->
            <form id="loginForm" method="POST" action="/users/login">
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required placeholder="Email">
                </div>
                <div>
                    <label for="password">Wachtwoord:</label>
                    <input type="password" id="password" name="password" required placeholder="Password">
                </div>
                <div>
                    <button type="submit">Inloggen</button>
                </div>
            </form>

            <!-- Bericht voor foutmeldingen of succes -->
            <p id="message"></p>

            <!-- Link naar registratiepagina -->
            <p>Still have no account?<a href="/register">Registreer hier</a></p>
        </div>
    </main> 
    <script src="/script.js"></script>
</body>
</html>