<!DOCTYPE html>
<html lang="en">
<body>
    <%- include("partials/header.ejs") -%>

    <main>
        <h1>Personal profile page</h1>
        <%- include('partials/messages') %>

        <button id="logoutButton">Uitloggen</button>
    </main>
    <footer>
        
    </footer>
    <script src="/script.js"></script>
</body>
</html>