<!DOCTYPE html>
<html lang="en">
<body>
    <%- include("partials/header.ejs") -%>

    <main id="profile-styles">
  
        <section>

            <h2>user name</h2>
            <div>
                <img src="https://images.immediate.co.uk/production/volatile/sites/2/2021/07/GettyImages_933801552-6e4a61e.jpg" alt="">

                <!-- <img src="/images/userPhoto-stakholder.svg" alt="stakholder for the user photo"> -->
            </div>
            <button>Instellingen</button>
        </section>  

        <section>
            <div>

                <label>
                    <h3>My Cocktails</h3>
                    <input type="radio" name="list-button" id="cocktails-list" checked>
                </label>
                <label>
                    <h3>Favorite</h3>
                    <input type="radio" name="list-button" id="favorit-list">
                </label>
            </div>

            <ul>
                <li>
                    <a href="">
                        <h4>1</h4>
                        <img src="https://images.immediate.co.uk/production/volatile/sites/2/2021/07/GettyImages_933801552-6e4a61e.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>1</h4>
                        <img src="https://images.immediate.co.uk/production/volatile/sites/2/2021/07/GettyImages_933801552-6e4a61e.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>1</h4>
                        <img src="https://images.immediate.co.uk/production/volatile/sites/2/2021/07/GettyImages_933801552-6e4a61e.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>1</h4>
                        <img src="https://images.immediate.co.uk/production/volatile/sites/2/2021/07/GettyImages_933801552-6e4a61e.jpg" alt="">
                    </a>
                </li>
               
              
            </ul>

            <ul>
                <li>
                    <a href="">
                        <h4>2</h4>
                        <img src="https://images.immediate.co.uk/production/volatile/sites/2/2021/07/GettyImages_933801552-6e4a61e.jpg" alt="">
                    </a>
                </li>

                <li>
                    <a href="">
                        <h4>1</h4>
                        <img src="https://images.immediate.co.uk/production/volatile/sites/2/2021/07/GettyImages_933801552-6e4a61e.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>1</h4>
                        <img src="https://images.immediate.co.uk/production/volatile/sites/2/2021/07/GettyImages_933801552-6e4a61e.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>1</h4>
                        <img src="https://images.immediate.co.uk/production/volatile/sites/2/2021/07/GettyImages_933801552-6e4a61e.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>1</h4>
                        <img src="https://images.immediate.co.uk/production/volatile/sites/2/2021/07/GettyImages_933801552-6e4a61e.jpg" alt="">
                    </a>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>
