<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <main>
        <button id="logoutButton">Uitloggen</button>
    </main>
    <footer>
        
    </footer>
</body>
</html>