<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <%- include('partials/messages') %>
    <div class="container">
        <br>
        <h1>Sign up</h1>

        <form id="registrationForm" action="/users/register" method="POST" >
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required placeholder="Username">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required placeholder="Email">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required placeholder="Password">
            </div>
            <div>
                <label for="confirmPassword">Repeat password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required placeholder="Password">
            </div>

            <button type="submit">Registreren</button>
        </form>
        <p id="message"></p>
        <p>Sign in instead? <a href="/login">Sign in</a></p>

    </div>

    <script src="/script.js"></script> 
</body>
</html>
