<!DOCTYPE html>
<html lang="en">


<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <p>kaas</p>
    <%- include('partials/filters.ejs') %>
    <h2>bla bla bla</h2>
    <%- include('partials/resultaten.ejs') %>

    <script src="/script.js"></script> 
</body>
</html>
