<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <main>
        <h1>Uploaded Cocktails</h1>
        <div class="cocktail-list">
            <% cocktails.forEach(cocktail => { %>
                <div class="cocktail-card">
                    <h2><%= cocktail.name %></h2>
                    <img src="/uploads/<%= cocktail.image %>" alt="<%= cocktail.name %>">
                </div>
            <% }) %>
        </div>
    </main>
</body>
</html>
