@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
	--color-text: #011627;
<<<<<<< HEAD:public/styles.css
	--color-background: #ffdbdb;
	--nav-color: #ED8A01;
	--button-color: #FD9FA1;
    --navbar-color: #78CCEE;
}
body{
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
}
h1 {
    color: blue;
}
header{
    width: 100%;
    height: auto;
    z-index: 10000;
    position: fixed;
    left:0;
    bottom: 0;
}
header div{
    width: 7em;
    height: 4em;
    position: absolute;
    top: -0.05em;
    left: calc(50% - 7em / 2);
    color: white; 
}
header nav{
    width: 100%;
    height: 100%;
    /* background-color: #FED0D0; */
    background-color: var(--navbar-color);
=======
	--color-background: #FAFAFA;
	--button-color: #ED8A01;
	--nav-color: #FD9FA1;
}



h1 {
    color: blue;
}

footer{
    width: 100%;
}
footer nav{
    width: 90%;
    /* height: 3em; */
    background-color: var(--nav-color)
    position: fixed;
    bottom: 0;
>>>>>>> 58db780cf5742fa538a03b05d5e9b687b4c29c8b:public/css/styles.css
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 0px 30px 0px 25px #fff;  
}
<<<<<<< HEAD:public/styles.css
header nav ul{  
    width: 100%;
    height: 100%; 
    padding: 0;
    margin: 0;
=======
footer nav ul{   
>>>>>>> 58db780cf5742fa538a03b05d5e9b687b4c29c8b:public/css/styles.css
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none; 
<<<<<<< HEAD:public/styles.css
}  
header ul li{
=======
    padding: 0;
}
footer ul li a svg{
>>>>>>> 58db780cf5742fa538a03b05d5e9b687b4c29c8b:public/css/styles.css
    width: 4em;
    height: 4em;
}
<<<<<<< HEAD:public/styles.css

header ul li a svg{
    width: 3.5em;
    height: 3.5em;
    color: #B8A1A9;
    align-self: center;
    
}
header ul li:nth-of-type(2){
=======
footer ul button{
    width: 6em;
    height: 6em;
    background-color: rgb(42, 46, 46);
    border-radius: 50%;
    
}
footer nav ul li:nth-of-type(2){
    /* position: relative; */
    position: absolute;
    bottom: calc(100% - 30px);

}
.floating-nav a svg{
>>>>>>> 58db780cf5742fa538a03b05d5e9b687b4c29c8b:public/css/styles.css
    width: 4em;
    height: 4em;
    /* background-color:   #FED0D0; */
    background-color: var(--navbar-color);

    border-radius: 50%; 
}
header nav ul li:nth-of-type(2){
    position: absolute;
    bottom: 2.89em;
}
